<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
    <h1 class="display-3">
      GitIssues
    </h1>
    <p>
      Ever wanted to have all your issues from Github in one place? You have come to the right place!
    </p>
    
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>Lorem ipsum dolor set.</p>
      <table>
        <thead>
          <th>ID</th>
          <th>Title</th>
          <th>Description</th>
          <th>Comments</th>
          <th>State</th>
          <th>Created</th>
        </thead>
        <tbody>
  {{#if issues.length}}
    {{#each issues}}
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.issue}}</td>
      <td>{{this.description}}</td>
      <td>{{this.comments}}</td>
      <td>{{this.state}}</td>
      <td>{{this.created}}</td>
    </tr>
    {{/each}}
    {{/if}}
        </tbody>
      </table>
  </div>
</div>