  <div class="container">
    <div class="row">
      <div class="col-md-6">
    <h1 class="display-3">
      GitIssues
    </h1>
    <p>
      Ever wanted to have all your issues from Github in one place? You have come to the right place!
    </p>
    <hr>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Your issues</h3>
      <table class="responsive-table striped">
        <thead>
          <th>ID</th>
          <th>Title</th>
          <th>Description</th>
          <th>Comments</th>
          <th>State</th>
          <th>Created</th>
        </thead>
        <tbody class="list-of-issues">
    {{#each issues}}
    <tr class="issue" id="issue-{{this.id}}">
      <td class="issue-number">{{this.number}}</td>
      <td class="issue-title"><a href="{{this.url}}" target="_blank" class="issue-title-link">{{this.title}}</a></td>
      <td class="issue-description">{{this.description}}</td>
      <td class="issue-comments">{{this.comments}}</td>
      <td class="issue-state">{{this.state}}</td>
      <td class="issue-date">{{this.created}} - {{this.time}}</td>
    </tr>
    {{/each}}
        </tbody>
      </table>
</div>