  <div class="container">
    <div class="row">
      <div class="col-md-6">
    <p>
      Ever wanted to have all your issues from Github in one place? You have come to the right place!
    </p>
    <div class="divider"></div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Your issues</h3>
        <div class="bar">
          <div class="notices">
            <a href="#" data-target="dropdown" class="dropdown-trigger btn disabled"><i class="fas fa-bell" title="No new notifications"></i></a>
            </div>

            <div class="sorting">
              <a class="toggle-view grid" href="#"><i class="fas fa-th-large"></i></a>
              <a class="toggle-view list" href="#"><i class="fas fa-grip-lines"></i></a>
            </div>
        </div>
 <div class="list-of-issues two-rows">
    {{#if issues.length}}
    {{#each issues}}
          <div class="issue" id="issue-{{this.id}}">
            <span class="issue-hide-show"><a href="#">X</a></span>
            <span class="issue-number">No. {{this.number}}</span>
            <h4 class="issue-title"><a href="{{this.url}}" target="_blank" class="issue-title-link">{{this.title}}</a></h4>
            <div class="issue-description">
              {{#if this.description}}
              <p class="description">{{this.description}}</p>
              {{/if}}
                {{#unless this.description}}
                <p class="description not-provided">No description provided.</p>
                {{/unless}}
              </div>
            <p class="issue-state"><i class="fas fa-door-open" title="State"></i> {{this.state}}</p>
            <div class="comments"><i class="fas fa-comments" title="Comments"></i> <span class="issue-comments">{{this.comments}}</span></div>
            <p class="issue-date"><i class="fas fa-clock" title="Created"></i> {{this.created}} {{this.time}}</p>
          </div>
    {{/each}}
    {{/if}}
    {{#unless issues.length}}
    <p>No issues to display.</p>
    {{/unless}}
  </div>
<ul id="dropdown" class="dropdown-content notifications"></ul>
</div>