  <div class="container">
    <div class="row">
      <div class="col-md-6">
    <h1 class="display-3">
      GitIssues
    </h1>
    <p>
      Ever wanted to have all your issues from Github in one place? You have come to the right place!
    </p>
    <hr>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Your issues</h3>
      <table class="responsive-table striped">
        <thead>
          <th>ID</th>
          <th>Title</th>
          <th>Description</th>
          <th>Comments</th>
          <th>State</th>
          <th>Created</th>
        </thead>
        <tbody class="list-of-issues">
    {{#each issues}}
    <tr class="issue" id="issue-{{this.id}}">
      <td class="issue-number">{{this.number}}</td>
      <td class="issue-title"><a href="{{this.url}}" target="_blank" class="issue-title-link">{{this.title}}</a></td>
      <td class="issue-description">{{this.description}}</td>
      <td class="issue-comments">{{this.comments}}</td>
      <td class="issue-state">{{this.state}}</td>
      <td class="issue-date">{{this.created}} - {{this.time}}</td>
    </tr>
    {{/each}}
        </tbody>
      </table>

</div>

{{#each issues}}
    <div class="row center-align">
    <div class="col s12 m6 center-align">
      <div class="card blue-grey darken-1 issue center-align" id="issue-{{this.id}}">
        <div class="card-content white-text">
          <p class="issue-number">{{this.number}}.</p>
          <a href="{{this.url}}" target="_blank" class="issue-title-link white-text">
            <span class="card-title issue-title">{{this.title}}</span>
          </a>
          <p class="issue-description">{{this.description}}</p>
        </div>
        <div class="card-action">
          <p class="issue-comments">{{this.comments}} Comments</p>
          <p class="issue-date">Created: {{this.created}} - {{this.time}}</p>
        </div>
      </div>
    </div>
  </div>
{{/each}}